<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "background-home.jpg" %>');">
        <div class="banner-content">
          <h1>Libére ta créativité musicale !</h1>
          <p>Apprends à exploiter <strong>Ableton live</strong> en <strong>10 jours.</strong></p>
        </div>
      </div>
      <div class="banner-button">
      <%= link_to "Découvrez notre programme", programme_path, class: "banner-button-item hidden-xs" %>
      <%= link_to "Postulez à la prochaine session", root_path, class: "btn banner-button-item btn-danger btn-lg" %>
      </div>
    </div>
  </div>
</div>
<div class="features-wrapper up">
  <div class="container">
    <div class="row">
      <h2 class="section-title-home">
        <div class="section-title-home-content" style="font-size:30px;">
          Apprends toutes les bases pour construire vos projets musicaux
        </div>
      </h2>
    <div class="col-xs-12 col-md-4">
      <div class="feature">
        <div class="feature-header">
          <div class="feature-icon">
            <i class="fa fa-users" style="color: #FE5F55;" aria-hidden="true"></i>
          </div>
          <h2 class="feature-title">
            <strong>Un enseignement professionel</strong>
          </h2>
        </div>
        <div class="feature-body">
          Plusieurs profs spécialisés se succèdent pour t'expliquer clairement les mécanismes pour créer une track d'anthologie !
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="feature">
        <div class="feature-header">
          <div class="feature-icon">
          <i class="fa fa-headphones" style="color: #8000FF;" aria-hidden="true"></i>
          </div>
          <h2 class="feature-title">
            <strong>Parfait pour les débutants</strong>
          </h2>
        </div>
        <div class="feature-body">
          On t'apporte les bases pour produire une track complète. Ensuite tu pourras exprimer ta créativité en toute autonomie !
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="feature">
        <div class="feature-header">
          <div class="feature-icon">
          <i class="fa fa-play" style="color: #2ecc71;" aria-hidden="true"></i>
          </div>
          <h2 class="feature-title">
            <strong> Un apprentissage pratique</strong>
          </h2>
        </div>
        <div class="feature-body">
          Ableton est un logiciel complexe qui nécessite du temps pour se l'approprier. Grâce aux exercices préparés par nos profs et à leurs trucs & astuces, tu gagneras des années !
        </div>
      </div>
    </div>
    </div>
    <div class="text-center" style="margin-top: 50px;">
      <a class="link-big" href="/programme">Lire le programme</a>
    </div>
  </div>
</div>


<div class="container">
<div class="row">
      <div class="col-md-12">
      <div class="home-infos-wrapper">
        <h2 class="section-title-home">
          <div class="section-title-home-content-bottom" style="font-size:30px; background:white;padding-right: 25px;padding-left: 25px;">
            Ils font confiance au <i>Studio</i>
          </div>
        </h2>
      <div class="full-home-testimonials">

        <div class="home-testimonial">
        <div class="testimonial-card">
          <span style="border: none;">"Avant j'allais danser en boîte, maintenant je vais jouer mes prods ! "</span>
        </div>
        </div>
        <div class="card-student">
          <div class="card-user">
                  <img width="50" height="50" srcset="https://res.cloudinary.com/wagon/image/upload/c_fill,h_50,w_50/v1481221696/nfpdxxqiguuljq0jttua.jpg 1x, https://res.cloudinary.com/wagon/image/upload/c_fill,h_100,w_100/v1481221696/nfpdxxqiguuljq0jttua.jpg 2x" src="https://res.cloudinary.com/wagon/image/upload/c_fill,h_50,w_50/v1481221696/nfpdxxqiguuljq0jttua.jpg" alt="Nfpdxxqiguuljq0jttua">
                  <div class="card-user-info">
                    <div class="card-user-name">
                      Emmanuel Russ
                    </div>
                    <div class="card-user-batch">
                      Batch #1, Paris
                    </div>
                  </div>
          </div>
        </div>



      </div>
      <div class="full-home-testimonials">

        <div class="home-testimonial">
        <div class="testimonial-card">
          <span style="border: none;">" Un incroyable voyage qui m'a permis d'acquérir des compétences dans un domaine nouveau et inconnu. Je peux maintenant m'exprimer à travers mes rythmes et sonorités et le partager avec mes proches "</span>
        </div>
        </div>

        <div class="card-student">
          <div class="card-user">
          <img width="50" height="50" srcset="https://res.cloudinary.com/wagon/image/upload/c_fill,h_50,w_50/v1473854652/qsbhptcsbur4evy59p8o.jpg 1x, https://res.cloudinary.com/wagon/image/upload/c_fill,h_100,w_100/v1473854652/qsbhptcsbur4evy59p8o.jpg 2x" src="https://res.cloudinary.com/wagon/image/upload/c_fill,h_50,w_50/v1473854652/qsbhptcsbur4evy59p8o.jpg" alt="Qsbhptcsbur4evy59p8o">
                  <div class="card-user-info">
                    <div class="card-user-name">
                      Julien da Silva
                    </div>
                    <div class="card-user-batch">
                      Batch #2, Paris
                    </div>
                  </div>
          </div>
        </div>

      </div>
      </div>
      </div>
    </div>
</div>


<div class="home-form-wrapper">
  <div class="container">
    <div class="row">
    <div class="col-md-12">
      <div class="form-body">
        <div class="banner-form"  style="background-image: url('<%= image_path "banner-form.jpg" %>');">
          <h2>Postulez à Paris</h2>

          <%= simple_form_for(@info) do |f| %>
            <%= f.error_notification %>
            <div id='first_name'>
            <%= f.input :first_name, required: true , label: 'Ton Prénom', class: "input-form-home"%>
            </div>
            <div id='last_name' class="hidden">
            <%= f.input :last_name, required: true , label: 'Ton Nom', class: "input-form-home"%>
            </div>
            <div id='email' class="hidden">
            <%= f.input :email, required: true , label: 'Ton Email', class: "input-form-home" %>
            </div>
            <div id='phone' class="hidden">
            <%= f.input :phone, required: true , label: 'Un Telephone', class: "input-form-home" %>
            </div>
            <div id='city' class="hidden">
            <%= f.input :city, required: true , label: 'Ta ville de résidence', class: "input-form-home" %>
            </div>
            <div id='birthday' class="hidden">
            <%= f.input :birthday, required: true , label: 'Ton année de naissance', class: "input-form-home" %>
            </div>
            <div id='description' class="hidden">
            <%= f.input :description, required: true , label: 'Ta description', class: "input-form-home" %>
            </div>
            <div id='motivation' class="hidden">
            <%= f.input :motivation, required: true , label: 'Tes motivations', class: "input-form-home" %>
            </div>
            <div id='submit' class="hidden">
            <%= f.button :submit, label: 'Merci !' %>
            </div>
            <div class="go-to-last-name hidden">
            <span style="margin: 0px; font-weight: 100; font-size: 18px;cursor: alias;">Suivant</span>
          </div>
          <% end %>

          </div>
      </div>
    </div>
</div>
</div>




<% content_for(:after_js) do %>
<script type="text/javascript">
    $(document).ready(function () {

        $("#info_first_name").hover(function(){
            $( ".go-to-last-name" ).fadeTo( "slow" , 1, function() {
            $(".go-to-last-name").removeClass("hidden");
  });

        });

        $('.go-to-last-name').click(function () {
            $('#first_name').addClass('hidden');
            $('#last_name').removeClass('hidden');
            $('.go-to-last-name').addClass('go-to-email');

        $('.go-to-email').click(function () {
            $('#last_name').addClass('hidden');
            $('#email').removeClass('hidden');
            $('.go-to-email').addClass('go-to-phone');

        $('.go-to-phone').click(function () {
            $('#email').addClass('hidden');
            $('#phone').removeClass('hidden');
            $('.go-to-phone').addClass('go-to-city');

        $('.go-to-city').click(function () {
            $('#phone').addClass('hidden');
            $('#city').removeClass('hidden');
            $('.go-to-city').addClass('go-to-birthday');

        $('.go-to-birthday').click(function () {
            $('#city').addClass('hidden');
            $('#birthday').removeClass('hidden');
            $('.go-to-birthday').addClass('go-to-description');

        $('.go-to-description').click(function () {
            $('#birthday').addClass('hidden');
            $('#description').removeClass('hidden');
            $('.go-to-description').addClass('go-to-motivation');

        $('.go-to-motivation').click(function () {
            $('#description').addClass('hidden');
            $('#motivation').removeClass('hidden');
            $('.go-to-motivation').addClass('go-to-submit');

        $('.go-to-submit').click(function () {
            $('#motivation').addClass('hidden');
            $('#submit').removeClass('hidden');
            $('.go-to-submit').addClass('hidden');

        });
        });
        });
        });
        });
        });
        });
        });
    });
</script>
<% end %>
